<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <h1>A donde quieres ir?</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/Usuarios">
            <button type="button" class="btn btn-secondary">Usuarios</button>
        </a>
        <a href="/Peliculas">
            <button type="button" class="btn btn-secondary">Peliculas</button>
        </a>
        <a href="/Generos">
            <button type="button" class="btn btn-secondary">Generos</button>
        </a>
      </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>